<h1>Inter-Residence Hall Association: Equipment Request Page</h1>

<p>
	<%= simple_format("Create a New Request \n 
	Check out our Equipment Catalog") %>
</p>
<p>
<%= link_to "New Form", 
{:controller => 'submissions', :action => 'new'}
%>
</p>